body {
  margin: 0;
  width: 100%;
  background-color: #fff;
  font-size: 14px;
  line-height: 1.4;
  font-family: "APPLE SD Gothic NEO", "Noto Sans CJK KR", sans-serif;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%; }

body.onPopup {
  overflow: hidden; }
  body.onPopup #app {
    position: fixed; }

h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, em, figure, figcaption, address {
  padding: 0;
  margin: 0;
  font: inherit; }

ul, ol {
  list-style: none; }

input, button {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  font-size: 18px;
  line-height: 20px;
  font-family: "APPLE SD Gothic NEO", sans-serif;
  -webkit-appearance: none;
  border-radius: 0;
  outline: none; }

input::-webkit-placeholder {
  color: #aaa; }

html, body, #app {
  min-width: 320px;
  height: 100%; }

a {
  color: inherit;
  text-decoration: none; }

img {
  vertical-align: top; }

/* === common === */
html {
  -webkit-text-size-adjust: 100%; }

body {
  overflow-x: hidden;
  position: relative;
  font-family: "AppleSDGothicNeo", sans-serif;
  line-height: 1.5;
  width: 100%;
  height: 100%;
  margin: 0 auto; }

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: 0;
  color: #333333; }

em {
  font-style: normal; }

caption, legend {
  color: transparent;
  font: 0/0 arial;
  text-shadow: none; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: baseline; }

input, button {
  border: 0;
  border-color: #fff;
  background: #fff; }

::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 1em; }

::-moz-placeholder {
  color: #cccccc; }

:-ms-input-placeholder {
  color: #cccccc; }

:-moz-placeholder {
  color: #cccccc; }

.container {
  overflow: hidden;
  width: 100%; }
  .container .error-wrap {
    height: 100vh;
    min-height: 500px;
    background: url(/img/img-bg-error.png) no-repeat;
    background-position: 50% 0; }
    .container .error-wrap .content .error-message {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      z-index: 100; }
      .container .error-wrap .content .error-message .title {
        width: 100%;
        text-align: center; }
      .container .error-wrap .content .error-message .txt-error {
        padding-top: 30px;
        font-size: 12px;
        line-height: 1.6em;
        text-align: center; }
      .container .error-wrap .content .error-message .btn-group {
        width: 100%;
        padding-top: 40px; }
        .container .error-wrap .content .error-message .btn-group .btn-home {
          display: block;
          text-align: center; }

/* === main === */
.container {
  overflow: hidden;
  width: 100%;
  /* animations */
  /* modal popup */ }
  .container .top-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10; }
    .container .top-fixed .logo {
      display: block;
      margin: 40px 0 0 6%;
      width: 28%;
      max-width: 142px; }
    .container .top-fixed .sns-list {
      display: none !important; }
    .container .top-fixed .top-sns-list {
      position: absolute;
      top: 45%;
      right: 0;
      width: 40%; }
      .container .top-fixed .top-sns-list li {
        display: inline-block;
        margin-right: 4%;
        vertical-align: middle; }
    .container .top-fixed .app-download {
      position: absolute;
      width: 45%;
      top: 19px;
      right: 0; }
    .container .top-fixed .sns-list {
      position: absolute;
      bottom: 0;
      right: 50px;
      width: 50%;
      text-align: right; }
      .container .top-fixed .sns-list li {
        display: inline-block;
        width: 10%;
        text-align: center;
        vertical-align: middle;
        margin-right: 0; }
  .container .icon-scroll {
    position: absolute;
    display: block;
    bottom: 3%;
    left: 6%;
    width: 20%;
    z-index: 100; }
  .container .jump {
    -webkit-animation: jump 0.5s ease 0s 3 normal;
    animation: jump 0.5s ease 0s 3 normal; }
  .container header {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #000000; }
    .container header .zoom-in {
      -webkit-animation: zoom-in 1s linear 0s 1 normal forwards;
      animation: zoom-in 1s linear 0s 1 normal forwards; }
    .container header .type1 {
      height: 100vh;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover; }
    .container header .header-content {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto; }
      .container header .header-content .header-text {
        position: absolute;
        top: 18%;
        left: 6%; }
        .container header .header-content .header-text h1 {
          width: 85%;
          max-width: 440px; }
      .container header .header-content .app-download {
        position: absolute;
        bottom: 0;
        max-width: 262px;
        right: 0;
        width: 55%; }
  .container .btn-rider {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    width: 125px;
    height: 156px;
    background: url("/img/btn_rider.png") no-repeat 0 0;
    background-size: contain; }
    .container .btn-rider span {
      position: absolute !important;
      height: 1px;
      width: 1px;
      overflow: hidden;
      clip: rect(1px 1px 1px 1px);
      /* IE6, IE7 */
      clip: rect(1px, 1px, 1px, 1px); }
  .container .section {
    overflow: hidden; }
    .container .section#bmart .content .cont-text h2 {
      padding-right: 10%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
    .container .section .content {
      position: relative;
      height: 100vh;
      padding: 0 6%;
      color: #ffffff;
      background: #2ac1bc;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      .container .section .content .cont-text {
        padding-top: 32%; }
        .container .section .content .cont-text h2 {
          width: 85%; }
      .container .section .content .cont-desc {
        margin-top: 6%;
        font-weight: 300; }
        .container .section .content .cont-desc + .service-noti {
          margin-top: 6px;
          color: rgba(255, 255, 255, 0.7);
          font-weight: 300;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          padding-right: calc(5% + 24px);
          position: relative;
          z-index: 10; }
          .container .section .content .cont-desc + .service-noti > li:nth-of-type(2) {
            display: none; }
        .container .section .content .cont-desc .sub-desc {
          display: block;
          font-size: 0.9em;
          font-weight: 100;
          line-height: 2em; }
      .container .section .content .animation img {
        vertical-align: top; }
      .container .section .content .animation .bike {
        position: absolute;
        bottom: 26%;
        right: 25%;
        width: 42%; }
      .container .section .content .animation .road {
        position: absolute;
        bottom: 30%;
        right: 32%;
        width: 42%; }
      .container .section .content .animation.people {
        position: absolute;
        bottom: 0;
        right: -5%;
        width: 85%;
        -webkit-transform: translate(0, 100%);
                transform: translate(0, 100%);
        -ms-transform: translate(0, 0); }
      .container .section .content .animation.flag {
        position: absolute;
        bottom: 0;
        right: -7%;
        width: 70%;
        -webkit-transform: translate(0, 100%);
                transform: translate(0, 100%);
        -ms-transform: translate(0, 0); }
      .container .section .content .animation.bmart-rider {
        position: absolute;
        bottom: 30px;
        right: 10%;
        width: 80%;
        opacity: 0;
        -webkit-transform: translateX(100%);
                transform: translateX(100%); }
        .container .section .content .animation.bmart-rider .text-event {
          display: none; }
      .container .section .content .animation.move-people, .container .section .content .animation.move-flag {
        -webkit-animation: move 0.8s ease forwards;
        animation: move 0.8s ease forwards; }
      .container .section .content .animation.move-bmart-rider {
        -webkit-animation: move-left 0.8s ease forwards;
        animation: move-left 0.8s ease forwards; }
      .container .section .content .move-bike {
        -webkit-animation: bike 0.8s ease forwards;
        animation: bike 0.8s ease forwards; }
  .container footer {
    overflow: hidden; }
    .container footer .content {
      position: relative;
      height: 100vh;
      padding: 10% 6%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      .container footer .content.bg_footer {
        background: #ffffff;
        padding: 5% 5%; }
      .container footer .content .txt-footer {
        width: 40%; }
      .container footer .content .app-download {
        position: absolute;
        top: 4%;
        right: 0;
        width: 45%; }
      .container footer .content .family-link {
        overflow: hidden;
        margin: 10% 0 5%;
        width: 100%; }
        .container footer .content .family-link li {
          display: inline-block;
          margin-right: 8px;
          width: auto; }
          .container footer .content .family-link li a {
            display: block; }
            .container footer .content .family-link li a img {
              display: inline-block;
              height: 1.5em; }
        .container footer .content .family-link .family-link-second-line {
          margin-top: 3%; }
          .container footer .content .family-link .family-link-second-line li:first-child {
            width: 98px; }
      .container footer .content .company-info {
        font-size: 0.8em;
        color: #333333;
        line-height: 1.7em;
        position: absolute;
        bottom: 5%; }
        .container footer .content .company-info p {
          padding-bottom: 3%; }
        .container footer .content .company-info .link-business-info a {
          text-decoration: none;
          background: url(/img/link-line_01@2x.png) bottom no-repeat;
          background-size: 100% 4px;
          margin-left: 10px; }
        .container footer .content .company-info .ico-bar {
          padding: 0 5px; }
        .container footer .content .company-info .link-mail a {
          text-decoration: none;
          background: url(/img/link-line_01@2x.png) bottom no-repeat;
          background-size: 100% 4px; }
      .container footer .content .company-info.isSafariMobile {
        position: absolute;
        bottom: 15%; }
      .container footer .content .footer-sns-list {
        margin: 5% 0 5% -2%; }
        .container footer .content .footer-sns-list li {
          display: inline-block;
          width: 10%;
          text-align: center;
          vertical-align: middle;
          margin-right: 2%; }
          .container footer .content .footer-sns-list li:first-child {
            margin-right: 0; }
  .container .pagination {
    position: absolute;
    display: block;
    top: 50%;
    right: 5%; }
    .container .pagination li {
      display: block;
      text-align: center; }
      .container .pagination li.blind {
        display: none; }
      .container .pagination li.active {
        display: block;
        width: 24px;
        height: 24px;
        background: url("/img/dotSelect@2x.png") no-repeat;
        background-size: 100% 100%; }
      .container .pagination li a {
        display: block;
        width: 24px;
        height: 24px;
        background: url("/img/dotScroll02@2x.png") no-repeat;
        background-size: 100% 100%; }

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(0); }
  20% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); }
  50% {
    -webkit-transform: translateY(0); }
  60% {
    -webkit-transform: translateY(-15px); }
  80% {
    -webkit-transform: translateY(0); }
  100% {
    -webkit-transform: translateY(0); } }

@keyframes jump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px); }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px); }
  80% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes zoom-in {
  0% {
    -webkit-transform: scale(1.5); }
  100% {
    -webkit-transform: scale(1); } }

@keyframes zoom-in {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-webkit-keyframes bike {
  0% {
    -webkit-transform: translateX(0) translateY(0); }
  100% {
    -webkit-transform: translateX(60%) translateY(60%); } }

@keyframes bike {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0); }
  100% {
    -webkit-transform: translateX(60%) translateY(60%);
            transform: translateX(60%) translateY(60%); } }

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateY(100%);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    opacity: 0; } }

@keyframes move {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes move-left {
  0% {
    -webkit-transform: translateX(100%);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(25%);
    opacity: 0; } }

@keyframes move-left {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
    opacity: 1; } }
  .container .modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); }
    .container .modal .modal-content {
      position: fixed;
      bottom: 0;
      background-color: #ffffff;
      width: 100%;
      -webkit-animation-name: slideIn;
      -webkit-animation-duration: 0.4s;
      animation-name: slideIn;
      animation-duration: 0.4s;
      padding: 8% 0;
      text-align: center; }
      .container .modal .modal-content .btn-download {
        width: 85%;
        margin: 0 auto; }
      .container .modal .modal-content .m-modal-close {
        position: absolute;
        top: 8%;
        right: 5%;
        width: 10%; }
      .container .modal .modal-content .pc-modal-close {
        position: absolute;
        top: 8%;
        right: 18%;
        width: 44px; }

@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0; }
  to {
    bottom: 0;
    opacity: 1; } }

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0; }
  to {
    bottom: 0;
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* === landscape === */
/*
@media screen and (orientation:landscape) and (max-width:767px) {
  .container {
    .top-fixed {
      .logo {
        width:10%;
        margin:3% 0 0 6%;
      }
      .app-download {
        width:20%;
      }
      .sns-list {
        position:absolute;
        bottom:0;
        right:50px;
        width:50%;
        text-align:right;
        li {
          display:inline-block;
          width:10%;
          text-align:center;
          vertical-align:middle;
          margin-right:0;
        }
      }
    }
    .icon-scroll {
      width:6%;
      left:48%;
      bottom:0;
    }
    header {
      .logo {
        width:10%;
        margin:3% 0 0 6%;
      }
      .header-content {
        position:relative;
        max-width:1024px;
        .header-text {
          width:45%;
        }
        .app-download {
          width:25%;
        }
      }
    }
    .section {
      .content {
        .cont-text {
          padding-top:10%;
          h2 {
            width:35%;
          }
        }
        .cont-desc {
          margin-top:2%;
        }
        .animation {
          img {
            vertical-align:top;
          }
          .bike {
            bottom:20%;
            right:20%;
            width:22%;
          }
          .road {
            width:22%;
            right:22%;
          }
          &.people {
            width:54%;
            right:10%;
          }
          &.flag {
            width:40%;
            bottom:-75%;
            right:10%
          }
        }
      }
    }
    footer {
      .content {
        &.bg_footer {
          padding:6%;
        }
        .footer-title {
          width:50%;
          float:right;
          .txt-footer {
            width:45%;
            padding-top:0;
          }
        }
        .family-link {
          width:50%;
          margin:0;
        }
        .sns-list{
          width:50%;
          margin-bottom:3%;
        }
        .company-info p {
          padding-bottom:1%;
        }
        .link-business-info {
          padding-left:3%;
        }
      }

    }
  }
}
*/
/* === Tablet (min-width:768px) === */
@media screen and (min-width: 768px) {
  .container {
    overflow: hidden;
    /* modal popup */ }
    .container .top-fixed .logo {
      width: 142px;
      margin-top: 5%; }
    .container .top-fixed .app-download {
      width: 200px; }
    .container .top-fixed .sns-list {
      display: none !important; }
    .container header .header-content .header-text {
      top: 20%;
      left: 50px; }
      .container header .header-content .header-text h1 {
        width: 440px;
        max-width: 440px; }
    .container header .header-content .app-download {
      width: 262px; }
    .container .section .content .cont-text {
      padding-top: 20%; }
      .container .section .content .cont-text h2 {
        width: 65%; }
    .container .section .content .cont-desc .sub-desc {
      line-height: 3em; }
    .container .section .content .cont-desc + .service-noti br {
      display: none; }
    .container .section .content .cont-desc + .service-noti > li:nth-of-type(2) {
      display: block; }
    .container .section .content .animation .bike {
      position: absolute;
      bottom: 13%;
      right: 17%;
      width: 204px; }
    .container .section .content .animation .road {
      position: absolute;
      bottom: 16%;
      right: 21%;
      width: 232px; }
    .container .section .content .animation.people {
      width: 400px;
      right: 40px; }
    .container .section .content .animation.flag {
      width: 352px;
      right: 10%; }
    .container footer .content .txt-footer {
      width: 45%; }
    .container footer .content .family-link {
      overflow: visible;
      width: 450px; }
      .container footer .content .family-link li {
        margin-right: 23px; }
        .container footer .content .family-link li a {
          display: block; }
          .container footer .content .family-link li a img {
            display: inline-block;
            height: 30px; }
      .container footer .content .family-link .family-link-second-line li:first-child {
        width: 138px; }
      .container footer .content .family-link .family-link-second-line li:last-child {
        margin-right: 0; }
    .container footer .content .footer-sns-list li {
      width: 40px; }
    .container footer .content .company-info {
      font-size: 15px;
      position: relative;
      bottom: auto; }
      .container footer .content .company-info p {
        padding-bottom: 2%; }
    .container .modal .modal-content {
      padding: 40px 0;
      background: #fff url("/img/bg_down@2x.png") 80% 105% no-repeat;
      background-size: 95px 112px; }
      .container .modal .modal-content .content {
        position: relative;
        max-width: 1024px;
        margin: 0 auto; }
        .container .modal .modal-content .content .title {
          padding-bottom: 22px;
          width: 537px;
          margin: 0 auto; }
        .container .modal .modal-content .content .txt-desc {
          color: #2ac1bc;
          font-size: 0.9em;
          font-weight: 100;
          padding-bottom: 10px; }
        .container .modal .modal-content .content form .input-box {
          overflow: hidden;
          position: relative;
          width: 330px;
          height: 50px;
          margin: 0 auto 10px;
          border: 1px solid #333333;
          border-radius: 50px; }
          .container .modal .modal-content .content form .input-box.dimmed {
            border-color: #cccccc; }
            .container .modal .modal-content .content form .input-box.dimmed input {
              color: #cccccc; }
          .container .modal .modal-content .content form .input-box input {
            width: 240px;
            padding: 17px 0;
            margin-right: 50px;
            font-size: 14px;
            text-align: left; }
          .container .modal .modal-content .content form .input-box button {
            position: absolute;
            top: 17px;
            right: 5px;
            width: 67px; }
            .container .modal .modal-content .content form .input-box button.btn-confirm {
              width: 54px; }
        .container .modal .modal-content .content form .app-ping-timer {
          margin: 33px 0; }
        .container .modal .modal-content .content form .terms-box {
          margin-top: 20px;
          position: relative;
          left: 20px; }
          .container .modal .modal-content .content form .terms-box input[type=checkbox] {
            position: absolute;
            z-index: -1;
            opacity: 0; }
            .container .modal .modal-content .content form .terms-box input[type=checkbox]:checked + label::before {
              height: 31px;
              top: -14px;
              border: none;
              background: url("/img/rectangle-7@2x.png");
              background-size: cover; }
            .container .modal .modal-content .content form .terms-box input[type=checkbox] + label {
              padding-right: 13px;
              position: relative;
              font-size: 14px;
              line-height: 17px;
              font-weight: bold;
              letter-spacing: -1px;
              color: #4a4a4a; }
              .container .modal .modal-content .content form .terms-box input[type=checkbox] + label::before {
                display: inline-block;
                width: 20px;
                height: 20px;
                -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                position: absolute;
                top: -3px;
                left: -34px;
                border: 1px solid #979797;
                background: #f4f4f4;
                content: ''; }
          .container .modal .modal-content .content form .terms-box a {
            font-size: 14px;
            line-height: 17px;
            font-weight: normal;
            text-decoration: underline;
            letter-spacing: -1px;
            color: #9b9b9b;
            cursor: pointer; }
        .container .modal .modal-content .content form .terms-table {
          width: 380px;
          margin: 21px auto 28px;
          border-collapse: collapse; }
          .container .modal .modal-content .content form .terms-table th {
            padding: 9px 0 6px;
            background: #bababa;
            color: #ffffff;
            font-size: 13px;
            letter-spacing: -1px;
            border: 1px solid #979797; }
          .container .modal .modal-content .content form .terms-table td {
            padding: 11px 0;
            color: #4a4a4a;
            border: 1px solid #979797;
            font-size: 13px;
            letter-spacing: -1px; }
        .container .modal .modal-content .content .img-box {
          width: 378px;
          margin: 0 auto;
          line-height: 0; }
        .container .modal .modal-content .content .notice {
          width: 500px;
          margin: 20px auto 0; }
          .container .modal .modal-content .content .notice .txt-notice {
            margin-left: 70px;
            font-size: 0.8em;
            font-weight: 100;
            color: #888888;
            line-height: 1.6em;
            text-align: left; }
        .container .modal .modal-content .content .pc-modal-close {
          right: 5%;
          top: 0; } }

/* === PC (min-width:1024px) === */
@media screen and (min-width: 1024px) {
  /* === main === */
  .container {
    overflow: hidden; }
    .container .top-fixed {
      width: 1024px;
      min-width: 1024px !important;
      left: 50%;
      margin-left: -512px; }
      .container .top-fixed .logo {
        margin-top: 60px;
        margin-left: 50px; }
      .container .top-fixed .app-download {
        width: 200px;
        right: 10px;
        top: 130px; }
      .container .top-fixed .sns-list {
        display: block !important;
        position: absolute;
        bottom: 0;
        right: 100px;
        width: 50%;
        text-align: right; }
        .container .top-fixed .sns-list li {
          display: inline-block;
          width: 10%;
          text-align: center;
          vertical-align: middle;
          margin-right: 0; }
          .container .top-fixed .sns-list li:first-child {
            margin-right: -5px; }
    .container .icon-scroll {
      left: 50%; }
    .container header .header-content {
      max-width: 1024px; }
      .container header .header-content h1 {
        width: 440px; }
      .container header .header-content .app-download {
        width: 262px; }
    .container .btn-rider {
      width: 191px;
      height: 241px; }
    .container .section {
      background: #2ac1bc; }
      .container .section #bmart .content .cont-text h2 {
        padding-right: 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
      .container .section .content {
        width: 1024px;
        margin: 0 auto;
        padding: 0 50px; }
        .container .section .content .cont-text {
          padding-top: 165px; }
          .container .section .content .cont-text h2 {
            width: 500px; }
            .container .section .content .cont-text h2 img {
              display: block;
              width: 100%; }
        .container .section .content .cont-desc {
          margin-top: 3%; }
          .container .section .content .cont-desc .sub-desc {
            display: block;
            font-size: 1em;
            line-height: 3em; }
        .container .section .content .animation .bike {
          width: 204px; }
        .container .section .content .animation .road {
          position: absolute;
          width: 232px; }
        .container .section .content .animation.people {
          width: 400px;
          right: 40px; }
        .container .section .content .animation.flag {
          width: 352px;
          right: 10%; }
        .container .section .content .animation.bmart-rider {
          width: 600px;
          bottom: 16%; }
          .container .section .content .animation.bmart-rider .text-event {
            position: absolute;
            top: 0;
            right: 200px;
            width: 125px;
            display: block; }
        .container .section .content .pagination {
          top: 55%;
          right: 5%; }
        .container .section .content .icon-scroll {
          margin: 0 auto; }
    .container footer.section {
      background: #ffffff; }
    .container footer .content .footer-title {
      width: 40%;
      float: right; }
      .container footer .content .footer-title .txt-footer {
        width: 176px;
        padding-top: 0; }
    .container footer .content .app-download {
      width: 25%; }
    .container footer .content .family-link {
      margin-top: 0; }
    .container footer .content .footer-sns-list {
      width: 30%;
      margin-left: -1%; }
      .container footer .content .footer-sns-list li {
        margin-right: 6%; }
        .container footer .content .footer-sns-list li:first-child {
          margin-right: 0; }
    .container footer .content.bg_footer {
      padding-top: 7%; }
    .container .pagination {
      right: 5%; } }

/* === PC (min-width:1440px) === */
@media screen and (min-width: 1440px) {
  .container header .header-content {
    max-width: 1024px; }
    .container header .header-content h1 {
      width: 580px; } }