* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

#fh5co-main, #fh5co-footer {
    float: left;
    width: 100%;
}

#fh5co-footer {
    padding: 1.1em 0 2.1em 0;
    background: #fff;
    color: #878c93;
    position: relative;
    bottom: 0;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 200;
}


#fh5co-footer .fh5co-footer-content {
    position: relative;
    z-index: 9;
    margin: 0 auto;
    display: -webkit-box;
}
}

@media (min-width: 1200px)
.container {
    width: 1180px;
}

@media (min-width: 992px)
.container {
    width: 980px;
}

@media (min-width: 768px)
.container {
    width: 760px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.col-md-6 {
	position: relative;
    text-align: center;
    min-height: 1px;
    padding-left: 20px;
    padding-right: 20px;
}
#fh5co-footer .fh5co-footer-logo {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
#fh5co-footer .fh5co-footer-logo a {
    font-family: "Montserrat", arial, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    color: #ccc;
    border: 2px solid #9a9fa5;
    float: left;
    padding: 7px 10px 7px 12px;
    text-transform: uppercase;
    text-decoration: none;
}
#fh5co-footer .fh5co-footer-logo a:hover {
	color: #ececec;
	transition: all 600ms;
}
#fh5co-footer a {
    color: #9a9fa5;
}
#fh5co-footer p {
    display: block;
    margin-bottom: 1.5em;
    margin: 0 0 10px;
}
#fh5co-footer .fh5co-copyright small {
    font-size: 12px;
}
#fh5co-footer .fh5co-copyright small a{
    text-decoration: none;
}
#fh5co-footer .fh5co-copyright a:hover {
    color: #e08ddf;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;
}
/* 
@media (min-width: 992px)
.col-md-6 {
    width: 50%;
    float: left;
    
}
 */
